<form name="myForm">
    <div class="expanded row">
        <div class="small-3 columns">
            <label>Person</label>
            <input type="text" ng-model="words.one">
        </div>
        <div class="small-3 columns">
            <label>Any Verb</label>
            <input type="text" ng-model="words.two">
        </div>
        <div class="small-3 columns">
            <label>Any Adjective</label>
            <input type="text" ng-model="words.three">
        </div>
        <div class="small-3 columns">
            <label>Place</label>
            <input type="text" ng-model="words.four">
        </div>
    </div>
    <div class="expanded row">
        <div class="small-4 small-offset-4 columns">
            <input class="small expanded button" type="submit" ng-click="collect()"></input>
        </div>
    </div>
</form>




