<div class="expanded row">
    <div class="small-12 columns">
        <h3>Dear School Nurse:</h3>
        <p>{{words[0]}} will not be attending school today. He/she has come down with a case of {{words[1]}} and has
        horrible {{words[2]}} and a/an {{words[3]}} fever. We have made an appointment with the {{words[4]}} Dr.                {{words[5]}}, who studied for many years in {{words[6]}}. He will send you all the information you need. Thank you!
        </p>
        <p>
            Sincerely,<br>
            Mrs. {{words[7]}}.
        </p>
    </div>
</div>


